* {
  font-family: 'Maven Pro', sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

header {
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  margin-bottom: 16px;
}

nav {
  /* background-color: #EF7D19; */
}

ul {
  display: flex;
  height: 100%;
  align-items: center;
}

nav, ul, li {
  padding-left: 16px;
  list-style-type: none;


}
 h1, h2 {
  color: white;
  width: 100%;
  max-width: 664px;
  margin: 0 auto;
}

h1 {
  font-size: 40px;

}

h2 {
  font-size: 15px;
}
h3 {
  font-size: 12;
}
section {
  display: flex;
  justify-content: center;
  padding: 16px;
  gap: 20px;
}
div {
  width: 300px;
  height: 200px;
  background: url(/img/bg_laranja.jpg) no-repeat;
  padding: 16px;
  border-radius: 8px;
}

section h3 {
  color: white;
}
p {
  color: white;
}

body {
  
  background-color: #593493;
}

